<div class="rounded-md bg-slate-600 h-full m-3">
    <p class="text-2xl text-yellow-400">{{"about hobby" | uppercase }}</p>
    <p class="text-2xl text-yellow-400">My hobby is computerspielespielen. i like lay computer games. im making lot of new friends when plaing. i dont like when people sayng that it isnt a hobby. i hate this people)</p>
    <h1 class="text-left text-yellow-600 text-7xl">sport</h1>
    <img src="../assets/images/sport.jpg">
    <p class="text-2xl text-yellow-400">There are many cyber sportsmen, who play computer games and win lot of many,so for them it is not a hobby but work. but still i know people who say that it isnt a sport either</p>
    <img src="../assets/images/angry.jpg">
    <p class="text-2xl text-yellow-400"> It is a stereotype that all gamers are angry</p>
    <p>about {{90 | percent}} gamers playing more than 2 hours a day</p>
    <p>most games cost {{70 | currency}} but there are regional prices</p>
</div>